---
layout: default
---

<script>
  $(document).ready(function () {
    $("#typewriteText").typewrite({
      actions: [{ type: "{{site.typewrite-text}}" }]
    });
  });
</script>
<div class="jumbotron">
  <p class="jumbotron-heading">Hi, I am {{site.author}} !</p>
  <p class="lead" id="typewriteText"></p>
  {% if site.github_username %} {%- include github_follow_button.html -%} {%
      endif %}
  <div style="height: 250px;"></div>

</div>
<div class="col-lg-8 offset-md-2">
  <section id="recent-articles">
    <div id="recent-articles-header">
      <div id="recent-articles-title">
        <h1 class="card-title">Recent Articles</h1>
      </div>
      <div id="recent-articles-show-all">
        <a class="btn btn-lg btn-dark" href="/blog"> View All </a>
      </div>
    </div>
    <br />

    <ul>
      {% for post in site.posts limit:5 %}
      <li class="article-card">
        <a href="{{post.url}}" class="article-card-link">
          <div id="article-container">
            <div id="article-img">
              <img src="/assets/img/{{site.author_logo}}" width="50px" height="50px" />
            </div>
            <div id="article-link">
              <p class="recent-article-link">{{post.title}}</p>
            </div>
            <div id="article-alert">
              {% for tag in post.tags limit:2 %}
              <button class="btn btn-sm btn-dark fa-pull-right" style="margin: 5px;">{{tag}}</button>
              {% endfor %}
            </div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
</div>
